/* Adapted from https://gist.github.com/ZachSaucier/8295d9dc926d7064ff0d4f3f04b35b55 */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

p {
	font-size: 16px;
}

h1 {
	font-size: 2em;
	line-height: 2.25em;
}

h2 {
	font-size: 1.25em;
	line-height: 1.4em;
	/*padding-top: 1em;
	padding-bottom: 1em;*/
	/*border-bottom: 1px solid #D8D8D8;*/
	/*border-top: 1px solid #D8D8D8;*/
}

h3 {
	font-size: 1em;
	line-height: 1.25em;
	margin-bottom: 0em;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

table, th, td {
	border: 1px solid lightgrey;
	border-collapse: collapse;
}

th, td {
	text-align: center;
	padding: .25em;
}

input[type=text], input[type=email], input[type=number] {
	background-color: rgb(224, 224, 224);
	color: rgb(0, 0, 0);
	padding: .5em .7em;
	margin: .5em 0;
}

input[type=number] {
	width: 50px;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: rgb(224, 224, 224);
	border: none;
	color: rgb(0, 0, 0);
	padding: .4em .7em;
	text-decoration: none;
	margin: .4em;
	cursor: pointer;
}
