{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='manage.js') }}" defer></script>
{% endblock %}

{% block header %}
	<h1>Manage Metrics and Tags</h1>
{% endblock %}

{% block content %}
	<h2>Pings</h2>
	<p>Just the {{ num_pings }} most recent</p>
	<table>
		<tr>
			<th>Timestamp</th>
			<th>Person</th>
			<th>Metrics</th>
			<th>Tags</th>
			<th>Delete</th>
		</tr>
		{% for ping in pings %}
		<tr>
			<td class="utc-timestamp">{{ ping.timestamp }}</td>
			<td>{{ ping.person }}</td>
			<td>{{ ", ".join(ping.metrics) }}</td>
			<td>{{ ", ".join(ping.tags) }}</td>
			<td>
				<form method="POST">
					<input type="hidden" name="table" value="pings">
					<input type="hidden" name="id" value="{{ ping.id }}">
					<input type="submit" value="✖">
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	<h2>Tags</h2> {# cancel 🗑🛑⯃X❌✖ #} {# save 💾🖪🖫🖬 #} {# new +✚⮯⮟ #} {# edit ✎🖉🖊🖋⌨ #}
	<p>Add, update, and delete tags. Deleting a tag will remove it from all previous pings (other tags on those pings will remain). Categories without any tags won't show up here, so don't delete all tags!</p>
	{% for category in categories %}
		<h3>	
			<div class="editor">
				<input type="button" value="✏️">
				{{ category.name }}
			</div>
			<div>
				<input type="button" value="🛑">
				<form method="POST" style="display:inline-block">
					<input type="text" name="table" value="categories" style="display: none" required>
					<input type="text" name="action" value="update" style="display: none" required>
					<input type="text" name="id" value="{{ category.id }}" style="display: none" required>
					<input type="text" name="name" value="{{ category.name }}" autocomplete="off" required>
					<input type="submit" value="💾">
				</form>
				{#<form method="POST" style="display:inline-block">
					<input type="text" name="table" value="categories" style="display: none" required>
					<input type="text" name="action" value="delete" style="display: none" required>
					<input type="text" name="id" value="{{ category.id }}" style="display: none" required>
					<input type="submit" value="✖">
				</form>#}
			</div>
		</h3>
		<ul>
			{% for tag in category.tags %}
				<li>
					<div class="editor">
						<input type="button" value="✏️">
						{{ tag.name }}
					</div>
					<div>
						<input type="button" value="🛑">
						<form method="POST" style="display:inline-block">
							<input type="text" name="table" value="tags" style="display: none" required>
							<input type="text" name="action" value="update" style="display: none" required>
							<input type="text" name="id" value="{{ tag.id }}" style="display: none" required>
							<input type="text" name="name" value="{{ tag.name }}" autocomplete="off" required>
							<input type="submit" value="💾">
						</form>
						<form method="POST" style="display:inline-block">
							<input type="text" name="table" value="tags" style="display: none" required>
							<input type="text" name="action" value="delete" style="display: none" required>
							<input type="text" name="id" value="{{ tag.id }}" style="display: none" required>
							<input type="submit" value="✖">
						</form>
					</div>
				</li>
			{% endfor %}
			<li>
				<form method="POST" style="display:inline-block">
					<div class="editor">
						<input type="button" value="✏️">
						<em>[new tag]</em>
					</div>
					<div>
						<input type="button" value="🛑">
						<input type="text" name="table" value="tags" style="display: none" required>
						<input type="text" name="action" value="create" style="display: none" required>
						<input type="text" name="id" value="{{ category.id }}" style="display: none" required>
						<input type="text" name="name" autocomplete="off" required>
						<input type="submit" value="💾">
					</div>
				</form>
			</li>
		</ul>
	{% endfor %}
	{#<h3>
		<form method="POST" style="display:inline-block">
			New category:
			<input type="text" name="table" value="categories" style="display: none" required>
			<input type="text" name="action" value="create" style="display: none" required>
			<input type="text" name="id" value="0" style="display: none" required>
			<input type="text" name="name" autocomplete="off" required>
			<input type="submit" value="💾">
		</form>
	</h3>#}
{% endblock %}
