{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block header %}
	<h1>View Statistics</h1>
{% endblock %}

{% block content %}
	{% for person in namedReports %}
		<h2>{{ person.name }}</h2>
		{% for report in person.reports %}
			{% if report.type == "Stats" %}
				<h3>{{ report.value.name }}</h3>
				Mean: {{ report.value.mean }}<br>
				Standard deviation: {{ report.value.stdev }}	
			{% elif report.type == "Histogram" %}
				<h3>{{ report.value.name }}</h3>
				<table>
					{% for entry in report.value.entries %}
						<tr>
							<td>{{ entry.bucket }}</td>
							<td>{{ entry.portion }}%</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endblock %}
