{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block header %}
	<h1>View Statistics</h1>
{% endblock %}

{% block content %}
	{% for report in reports %}
		<h2>{{ report["genreName"] }}</h2>
		{% for person in report["people"] %}
			<p>{{ person["name"] }}</p>
			<table>
				{% for entry in person["histogram"] %}
				<tr>
					<td>{{ entry[0] }}</td>
					<td>{{ entry[1] }}%</td>
				</tr>
				{% endfor %}
			</table>
		{% endfor %}
	{% endfor %}
	<p>Most recent samples</p>
	<table>
		<tr>
			<th>Person</th>
			<th>Time</th>
			<th>Genre</th>
			<th>Category</th>
		</tr>
		{% for sample in samples %}
			<tr>
				<td>{{ sample.person }}</td>
				<td>{{ sample.time }}</td>
				<td>{{ sample.genreName }}</td>
				<td>{{ sample.category }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
