{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
	{#<script>var taxonomy = {{ taxonomyJS|safe }};</script>#}
	<script type="text/javascript" src="{{ url_for('static', filename='submit.js') }}" defer></script>
{% endblock %}

{% block header %}
	<h1>Record Samples</h1>
{% endblock %}

{% block content %}
	<h2>New Sample</h2>
	<p>Here you can add a new ping to the database.</p>
	{% if people and metrics and categories %}
		<form method="POST">
			<h3>Person:</h3>
			{% for person in people %}
				<label for="{{ person.id }}">
					<input type="radio" name="person" value={{ person.id }} required>
					{{ person.name }}
				</label>
				<br>
			{% endfor %}

			<h3>Metrics:</h3>
			{% for metric in metrics %}
				(ignore: <input type="checkbox" name="met_ignore_{{ metric.id }}" autocomplete="off">)
				<label>
					<input type="range" min="{{ metric.min }}" max="{{ metric.max }}" step="{{ (metric.max - metric.min)/10 }}" value="{{ (metric.max + metric.min)/2 }}" name="met_{{ metric.id }}" autocomplete="off">
					{{ metric.name }}
				</label>
				<br>
			{% endfor %}

			<h3>Tags:</h3>
			<ul id="discreteList">
				{% for category in categories %}
					<li><label>
						{{ category.name }}
						<select name="tag_{{ category.id }}" class="discreteSelect" autocomplete="off" required>
							<option value="_none">✖ none</option> {# X❌✖🗑 #} {# ⟵⟸⬅⮨⮜← #}
							{% for tag in category.tags %}
								<option value="{{ tag.id }}">{{ tag.name }}</option>
							{% endfor %}
							<option value="_new">✏️ new</option> {# +✚⮯⮟✎🖉🖊🖋⌨ #}
						</select>
						<input type="text" name="newTags[]" style="display: none">
					</label></li>
				{% endfor %}
			</ul>

			<h3>Time:</h3>
				<input type="date" id="localDate" autocomplete="off" required>
				<input type="time" id="localTime" step=60 autocomplete="off" required>
				<input type="text" id="UTCDateTime" name="datetime" autocomplete="off" style="display: none">
				<input type="button" id="nowBtn" value="⏭"> {# ⇩⏭↷⏩⟳⮏⮧🡇 #}
				<br>

			<input type="submit" value="Record ping">
		</form>
	{% else %}
		<p>Database error!</p>
	{% endif %}
{% endblock %}
